<!DOCTYPE html>
<html lang="eng">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/mystyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.3.0/balloon.min.css">
<script src="../node_modules/angular/angular.js"></script>
<script src="../node_modules/angular-animate/angular-animate.js"></script>
<script src="../node_modules/angular-aria/angular-aria.js"></script>
<script src="../node_modules/angular-material/angular-material.js"></script>
<script src="../js/app.js"></script>
</head>
<body style="background: #DADADA;" ng-app="hackTogether" ng-controller="membersCtrl">



<!-- <div class="ui top attached demo menu">
  <a class="item">
    <i class="sidebar icon"></i>
    Menu
  </a>
</div>
<div class="ui bottom attached segment pushable">
  <div style="" class="ui inverted labeled icon left inline vertical sidebar menu uncover visible">
    <a class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item">
      <i class="block layout icon"></i>
      Topics
    </a>
    <a class="item">
      <i class="smile icon"></i>
      Friends
    </a>
    <a class="item">
      <i class="calendar icon"></i>
      History
    </a>
  </div>
  <div class="pusher dimmed">
    <div class="ui basic segment">
      <h3 class="ui header">Application Content</h3>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</div> -->

<!-- <script> $('.context.example .ui.sidebar')
  .sidebar({
    context: $('.context.example .bottom.segment')
  })
  .sidebar('attach events', '.context.example .menu .item'); 
  </script> -->

<!-- <script> $('.context.example .ui.sidebar')
  .sidebar({
    context: $('.context.example .bottom.segment')
  })
  .sidebar('attach events', '.context.example .menu .item')
; </script> --> 



<div class="ui top fixed menu">
<div class="right menu" style="margin-left: 41% !important;">
  <a class="item"><img src="../images/profile.png"></a>
  <a class="item"><img src="../images/group.png"></a>
  <a class="item"><img src="../images/project.png"></a>
  </div>
  <div class="right menu" >
    <a class="item">Sign Up</a>
    <a class="item">Contact</a>
  </div>
</div>



<div class="ui fluid category search" style="padding-left: 34%;padding-top:4%;">
  <div class="ui icon input" style="margin-top: 2%; margin-bottom: 2%;">
    <input class="prompt" placeholder="Search..." type="text" ng-model="search.$">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>



<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">Singles</a>
  <a class="item" data-tab="second">Groups</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
 
<div class="ui special cards" style="padding-left: 6%; padding-right: 5%;">

  <div class="card" ng-repeat="x in solos | filter: search">
    <!-- <div class="grow"> -->
    <div class="image" style="position: relative; z-index: 1;">
      <img class="blurring" src="{{x.image}}">
      <span class="overlay_text" style="position: absolute; top: 0px; z-index: 10;"><button class="overlay_text button ui inverted" style="margin-top:132px; margin-left:93px;">Add Friend</button></span>
    </div>
    <!-- </div> -->
    <div class="content">
      <div class="header">{{x.name}}</div>
      <div class="meta">
        <span class="date">{{x.skill}}</span>
      </div>
      <div class="description">
        {{x.description}}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        {{x.status}}
      </span>
      <span>
        <i class="user icon"></i>
        {{x.hackathons}}
      </span>
    </div>
  </div>

</div>



</div>


<div class="ui bottom attached tab segment" data-tab="second">
  <div class="ui special cards" style="padding-left: 6%; padding-right: 5%;">

  <div class="card" ng-repeat="x in teams | filter: search"" >
    <div class="image" style="position: relative; z-index: 1;">
      <img class="blurring" src="{{x.image}}">
      <span class="overlay_text" style="position: absolute; top: 0px; z-index: 10;"><button ng-click="viewModal($index)" class="overlay_text register button ui inverted" style="margin-top:121px; margin-left:93px;">Join Team</button></span>
    </div>
    <div class="content">
      <div class="header">{{x.name}}</div>
      <div class="meta">
        <a>{{x.skills}}</a>
      </div>
      <div class="description">
        {{x.description}}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        {{x.status}}
      </span>
      <span>
        <i class="user icon"></i>
        {{x.hackathons}}
      </span>
    </div>
  </div>

</div>
</div>

<div class="ui modal">
            <div class="image content">
                <div class="ui medium image profile_pic">
                    <img src="{{src}}">
                </div>
                <div class="description">
                    <div id="name" class="ui header">{{name}}</div>
                    <div class="ui form">
                        <div class="two fields">
                            <div class="field">
                                <label>Team members</label>
                                <input placeholder="Name" type="text" style="margin-bottom: 2%;">
                                <input placeholder="Name" type="text">
                            </div>
                            <div class="field">
                                <label>Team members</label>
                                <input placeholder="Name" type="text" style="margin-bottom: 2%;">
                                <input placeholder="Name" type="text">
                            </div>
                        </div>
                        <div class="field">
                            <label>Interested Topics</label>
                            <input name="email" type="text" placeholder="What topics does the team likes to pursue...."><!-- <textarea></textarea disabled> -->
                        </div>

                        <div class="field">
                            <label>Team Description</label>
                            <!-- <input name="email" type="text" placeholder="Summarize your team in a few words.... "> --><!-- <textarea></textarea disabled> -->

                            <textarea rows="5" cols="40" placeholder="Summarize your team in a few words.... "></textarea>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
            </div>
        </div>



<script> 

// $('.register').click(function (){
//                 console.log("CLICKED")
//                $('.ui.modal').modal('show');
//            }
//   )

$('.menu .item')
  .tab()
;

</script>


</body>
</html>